@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro {
    color: #fff;
	width: 50%;
	margin: 0 auto;
	/* font-size: 1.5em; */
}
.intro h2{
    color: #fff;
    font-size: 3em;
    margin-bottom: 40px;
}
.intro h3 {
    color: #fff;
    font-size: 2em;
}
.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #232323;
    border-bottom: 2px;
	/* background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px; */
            border: 2px solid transparent;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}
#menu li.active{
    border-color: #e3120b;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
    border-color: #b3cde8;
}
#menu li a,
#menu li.active a{
	margin: 9px 18px;
	display:block;
}
#menu li.active a{
	/* color: #fff; */
}
#menu{
	position: absolute;
    right: 0;
    top: 0;
	height: 40px;
	z-index: 70;
	/* width: 100%; */
	padding: 0;
	margin:0;
}
.twitter-share-button{
	position: fixed !important;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:822px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}



/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	top: 20px;
	right:20px;
	z-index: 999;
	padding: 5px 10px;
 }

/* Buttons
 * --------------------------------------- */
#download a{
    text-decoration: none
}
#download,
#download:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}
.button {
    margin: 20px 0 0 0;
    vertical-align: middle;
    display: inline-block
}

.button a {
    color: #fff;
    background: rgba(0,0,0,0.4);
    padding: 15px 30px;
    border-radius: 5px;
    display: inline-block;
}

.button a:hover {
    color: #316f68;
    background-color: #fff
}


/* Extensions preview menu
 * --------------------------------------- */
.preview-extensions-menu{
	position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    border-top: 0;
    box-shadow: 1px 0px 3px rgba(0,0,0,0.8);
}
.preview-extensions-menu li{
	display: inline-block;
	margin: 0;
}
.preview-extensions-menu li a{
	padding: 15px 25px;
	display: block;
}
.preview-buy-extension{
    background: #3cc63c;
}
.preview-more-extensions{
	background: #fff;
}
.preview-buy-extension a{
	color: #fff;
}
.preview-buy-extension:hover{
	background-color: #1a961a;
}
.preview-more-extensions a{
	color: #333;
}

.code{
	background: rgba(255,255,255,0.7);
	padding: 0px 5px;
	line-height: 25px;
}


/* Style for our header texts
* --------------------------------------- */
h1{
	font-size: 5em;
	font-family: arial,helvetica;
	color: #fff;
	margin:0;
}
.section p,
.intro p{
	color: #fff;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
	text-align:center;
}


/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
	color: #fff;
}

/* Sections backgrounds
* --------------------------------------- */
#section0{
	background-image: linear-gradient(128deg,#c6d9e7,#6c85f3);
}

#section1{
	background-image: linear-gradient(128deg,#f4dcc7,#fbbab7);
}

#section2{
	background-image: linear-gradient(128deg,#efcdef,#a79fea);
}

#section3{
	background-image: linear-gradient(128deg,#cbebe9,#97d2f3);
}

#section0 .fp-prev, #section0 .fp-next {
    display: none !important;
}
#section0 .fp-slidesNav {
    display: none;
}
.scroll-down-hint {
    position: absolute;
    bottom: 20px; /* 距离底部 20px */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 8px;
    color: #fff;
    cursor: pointer;
    /* background: rgba(0, 0, 0, 0.5); */
    padding: 10px 20px;
    border-radius: 5px;
}

.scroll-down-hint p {
    margin: 0;
    opacity: 0; /* 初始透明度为0 */
    animation: fadeInDown 3s infinite; /* 应用动画 */
}

.arrow-down {
    margin:  0 auto 10px;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(135deg);
}
/* 定义动画 */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* 定义动画 */
.intro {
    text-align: center;
    margin-top: 50px; /* 调整位置 */
}

.intro h2, .intro h3 {
    opacity: 0; /* 初始透明度为0 */
    transform: translateY(180px); /* 初始位置向下偏移 */
    animation: fadeInUp 2s ease-in-out forwards; /* 应用动画 */
}
/* 为 h3 设置动画延迟 */
.intro h3 {
    animation-delay: 1s; /* 在 h2 动画完成后开始 h3 的动画 */
}

/* 定义动画 */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(180px); /* 初始位置向下偏移 */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* 最终位置回到原点 */
    }
}